{
    "swagger": "2.0",
    "info": {
    "description": "This is a dynamic API generated by PostgREST",
    "title": "PostgREST API",
    "version": "10.1.1"
    },
    "host": "eiti.de-publieke-zaak.nl/api",
    "basePath": "/",
    "schemes": [
    "https"
    ],
    "consumes": [
    "application/json",
    "application/vnd.pgrst.object+json",
    "text/csv"
    ],
    "produces": [
    "application/json",
    "application/vnd.pgrst.object+json",
    "text/csv"
    ],
    "paths": {
    "/entities": {
    "get": {
    "tags": [
    "entities"
    ],
    "parameters": [
    {
    "$ref": "#/parameters/rowFilter.entities.slug"
    },
    {
    "$ref": "#/parameters/rowFilter.entities.name"
    },
    {
    "$ref": "#/parameters/rowFilter.entities.sector"
    },
    {
    "$ref": "#/parameters/rowFilter.entities.type"
    },
    {
    "$ref": "#/parameters/select"
    },
    {
    "$ref": "#/parameters/order"
    },
    {
    "$ref": "#/parameters/range"
    },
    {
    "$ref": "#/parameters/rangeUnit"
    },
    {
    "$ref": "#/parameters/offset"
    },
    {
    "$ref": "#/parameters/limit"
    },
    {
    "$ref": "#/parameters/preferCount"
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "schema": {
    "items": {
    "$ref": "#/definitions/entities"
    },
    "type": "array"
    }
    },
    "206": {
    "description": "Partial Content"
    }
    }
    }
    },
    "/reconciliation": {
    "get": {
    "tags": [
    "reconciliation"
    ],
    "parameters": [
    {
    "$ref": "#/parameters/rowFilter.reconciliation.origin"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.entity_name"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.sector"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.type"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.year"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.payments_companies_reported"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.payments_government_reported"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.payments_companies"
    },
    {
    "$ref": "#/parameters/rowFilter.reconciliation.payments_government"
    },
    {
    "$ref": "#/parameters/select"
    },
    {
    "$ref": "#/parameters/order"
    },
    {
    "$ref": "#/parameters/range"
    },
    {
    "$ref": "#/parameters/rangeUnit"
    },
    {
    "$ref": "#/parameters/offset"
    },
    {
    "$ref": "#/parameters/limit"
    },
    {
    "$ref": "#/parameters/preferCount"
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "schema": {
    "items": {
    "$ref": "#/definitions/reconciliation"
    },
    "type": "array"
    }
    },
    "206": {
    "description": "Partial Content"
    }
    }
    }
    },
    "/payments": {
    "get": {
    "tags": [
    "payments"
    ],
    "parameters": [
    {
    "$ref": "#/parameters/rowFilter.payments.payment_stream"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.code"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.name_nl"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.def_nl"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.name_en"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.def_en"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.payments_companies"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.payments_companies_reported"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.year"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.origin"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.project"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.recipient"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.aggregated"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.origin_name"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.origin_sector"
    },
    {
    "$ref": "#/parameters/rowFilter.payments.recipient_name"
    },
    {
    "$ref": "#/parameters/select"
    },
    {
    "$ref": "#/parameters/order"
    },
    {
    "$ref": "#/parameters/range"
    },
    {
    "$ref": "#/parameters/rangeUnit"
    },
    {
    "$ref": "#/parameters/offset"
    },
    {
    "$ref": "#/parameters/limit"
    },
    {
    "$ref": "#/parameters/preferCount"
    }
    ],
    "responses": {
    "200": {
    "description": "OK",
    "schema": {
    "items": {
    "$ref": "#/definitions/payments"
    },
    "type": "array"
    }
    },
    "206": {
    "description": "Partial Content"
    }
    }
    }
    }
    },
    "definitions": {
    "entities": {
    "properties": {
    "slug": {
    "format": "character varying",
    "type": "string"
    },
    "name": {
    "format": "character varying",
    "type": "string"
    },
    "sector": {
    "format": "character varying",
    "type": "string"
    },
    "type": {
    "format": "character varying",
    "type": "string"
    }
    },
    "type": "object"
    },
    "reconciliation": {
    "properties": {
    "origin": {
    "format": "character varying",
    "type": "string"
    },
    "entity_name": {
    "format": "character varying",
    "type": "string"
    },
    "sector": {
    "format": "character varying",
    "type": "string"
    },
    "type": {
    "format": "character varying",
    "type": "string"
    },
    "year": {
    "format": "character varying",
    "type": "string"
    },
    "payments_companies_reported": {
    "format": "numeric",
    "type": "number"
    },
    "payments_government_reported": {
    "format": "numeric",
    "type": "number"
    },
    "payments_companies": {
    "format": "numeric",
    "type": "number"
    },
    "payments_government": {
    "format": "numeric",
    "type": "number"
    }
    },
    "type": "object"
    },
    "licences": {
    "properties": {
    "location_name": {
    "format": "character varying",
    "type": "string"
    },
    "location_code": {
    "format": "character varying",
    "type": "string"
    },
    "location_type": {
    "format": "character varying",
    "type": "string"
    },
    "location_operator": {
    "format": "character varying",
    "type": "string"
    },
    "location_status": {
    "format": "character varying",
    "type": "string"
    },
    "wells": {
    "format": "character varying",
    "type": "string"
    },
    "X_UTM31": {
    "format": "character varying",
    "type": "string"
    },
    "Y_UTM31": {
    "format": "character varying",
    "type": "string"
    },
    "long": {
    "format": "character varying",
    "type": "string"
    },
    "lat": {
    "format": "character varying",
    "type": "string"
    },
    "licence_code": {
    "format": "character varying",
    "type": "string"
    },
    "licence_name": {
    "format": "character varying",
    "type": "string"
    },
    "licence_type": {
    "format": "character varying",
    "type": "string"
    },
    "licence_status": {
    "format": "character varying",
    "type": "string"
    },
    "resource": {
    "format": "character varying",
    "type": "string"
    }
    },
    "type": "object"
    },
    "payments": {
    "properties": {
    "payment_stream": {
    "format": "character varying",
    "type": "string"
    },
    "code": {
    "format": "character varying",
    "type": "string"
    },
    "name_nl": {
    "format": "character varying",
    "type": "string"
    },
    "def_nl": {
    "format": "character varying",
    "type": "string"
    },
    "name_en": {
    "format": "character varying",
    "type": "string"
    },
    "def_en": {
    "format": "character varying",
    "type": "string"
    },
    "payments_companies": {
    "format": "numeric",
    "type": "number"
    },
    "payments_companies_reported": {
    "format": "numeric",
    "type": "number"
    },
    "year": {
    "format": "smallint",
    "type": "integer"
    },
    "origin": {
    "format": "character varying",
    "type": "string"
    },
    "project": {
    "format": "character varying",
    "type": "string"
    },
    "recipient": {
    "format": "character varying",
    "type": "string"
    },
    "aggregated": {
    "format": "boolean",
    "type": "boolean"
    },
    "origin_name": {
    "format": "character varying",
    "type": "string"
    },
    "origin_sector": {
    "format": "character varying",
    "type": "string"
    },
    "recipient_name": {
    "format": "character varying",
    "type": "string"
    }
    },
    "type": "object"
    }
    },
    "parameters": {
    "preferParams": {
    "name": "Prefer",
    "description": "Preference",
    "required": false,
    "enum": [
    "params=single-object"
    ],
    "in": "header",
    "type": "string"
    },
    "preferReturn": {
    "name": "Prefer",
    "description": "Preference",
    "required": false,
    "enum": [
    "return=representation",
    "return=minimal",
    "return=none"
    ],
    "in": "header",
    "type": "string"
    },
    "preferCount": {
    "name": "Prefer",
    "description": "Preference",
    "required": false,
    "enum": [
    "count=none"
    ],
    "in": "header",
    "type": "string"
    },
    "select": {
    "name": "select",
    "description": "Filtering Columns",
    "required": false,
    "in": "query",
    "type": "string"
    },
    "on_conflict": {
    "name": "on_conflict",
    "description": "On Conflict",
    "required": false,
    "in": "query",
    "type": "string"
    },
    "order": {
    "name": "order",
    "description": "Ordering",
    "required": false,
    "in": "query",
    "type": "string"
    },
    "range": {
    "name": "Range",
    "description": "Limiting and Pagination",
    "required": false,
    "in": "header",
    "type": "string"
    },
    "rangeUnit": {
    "name": "Range-Unit",
    "description": "Limiting and Pagination",
    "required": false,
    "default": "items",
    "in": "header",
    "type": "string"
    },
    "offset": {
    "name": "offset",
    "description": "Limiting and Pagination",
    "required": false,
    "in": "query",
    "type": "string"
    },
    "limit": {
    "name": "limit",
    "description": "Limiting and Pagination",
    "required": false,
    "in": "query",
    "type": "string"
    },
    "body.entities": {
    "name": "entities",
    "description": "entities",
    "required": false,
    "in": "body",
    "schema": {
    "$ref": "#/definitions/entities"
    }
    },
    "rowFilter.entities.slug": {
    "name": "slug",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.entities.name": {
    "name": "name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.entities.sector": {
    "name": "sector",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.entities.type": {
    "name": "type",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "body.reconciliation": {
    "name": "reconciliation",
    "description": "reconciliation",
    "required": false,
    "in": "body",
    "schema": {
    "$ref": "#/definitions/reconciliation"
    }
    },
    "rowFilter.reconciliation.origin": {
    "name": "origin",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.entity_name": {
    "name": "entity_name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.sector": {
    "name": "sector",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.type": {
    "name": "type",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.year": {
    "name": "year",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.payments_companies_reported": {
    "name": "payments_companies_reported",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.payments_government_reported": {
    "name": "payments_government_reported",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.payments_companies": {
    "name": "payments_companies",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "rowFilter.reconciliation.payments_government": {
    "name": "payments_government",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "body.licences": {
    "name": "licences",
    "description": "licences",
    "required": false,
    "in": "body",
    "schema": {
    "$ref": "#/definitions/licences"
    }
    },
    "rowFilter.licences.location_name": {
    "name": "location_name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.location_code": {
    "name": "location_code",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.location_type": {
    "name": "location_type",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.location_operator": {
    "name": "location_operator",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.location_status": {
    "name": "location_status",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.wells": {
    "name": "wells",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.X_UTM31": {
    "name": "X_UTM31",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.Y_UTM31": {
    "name": "Y_UTM31",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.long": {
    "name": "long",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.lat": {
    "name": "lat",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.licence_code": {
    "name": "licence_code",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.licence_name": {
    "name": "licence_name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.licence_type": {
    "name": "licence_type",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.licence_status": {
    "name": "licence_status",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.licences.resource": {
    "name": "resource",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "body.payments": {
    "name": "payments",
    "description": "payments",
    "required": false,
    "in": "body",
    "schema": {
    "$ref": "#/definitions/payments"
    }
    },
    "rowFilter.payments.payment_stream": {
    "name": "payment_stream",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.code": {
    "name": "code",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.name_nl": {
    "name": "name_nl",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.def_nl": {
    "name": "def_nl",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.name_en": {
    "name": "name_en",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.def_en": {
    "name": "def_en",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.payments_companies": {
    "name": "payments_companies",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.payments_companies_reported": {
    "name": "payments_companies_reported",
    "required": false,
    "format": "numeric",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.year": {
    "name": "year",
    "required": false,
    "format": "smallint",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.origin": {
    "name": "origin",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.project": {
    "name": "project",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.recipient": {
    "name": "recipient",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.aggregated": {
    "name": "aggregated",
    "required": false,
    "format": "boolean",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.origin_name": {
    "name": "origin_name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.origin_sector": {
    "name": "origin_sector",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    },
    "rowFilter.payments.recipient_name": {
    "name": "recipient_name",
    "required": false,
    "format": "character varying",
    "in": "query",
    "type": "string"
    }
    },
    "externalDocs": {
    "description": "PostgREST Documentation",
    "url": "https://postgrest.org/en/v10.1/api.html"
    }
    }