$green : #777c00;
$blue : #65A7C5;
$darkblue : #06364E;
$orange : #E17000;
$yellow : #F8CD1C;

$red : rgb(213,43,30); // , 'rgb(242,191,187)', 'rgb(249,223,221)'];
$green : rgb(57,135,12); // ', 'rgb(195,219,182)', 'rgb(225,237,219)'];
$blue : rgb(0,123,199); // ', 'rgb(178,215,238)', 'rgb(217,235,247)'];
$purple : rgb(66,20,95); // ', 'rgb(198,184,207)', 'rgb(227,220,231)'];

$grey : #595959;
$darkgrey : #ccc;
$yellow: rgb(248, 205, 28);
$lightgrey : rgb(238, 238, 238);

$moss : rgba(119,124,0,1);
$moss-light: rgba(214,215,178,1);

$lightBlue : rgba(143,202,231,1);
$lightBlue-light: rgba(221,239,248,1);
