.focus-tooltip {

    position: absolute;
    width: 100px;
    background: white;
    //border: 1px solid black;
    color: black;
    font-family: "NotoSans Regular", sans-serif;
    font-size: 0.8rem;
    text-align: right;
    line-height: 1.85;
    padding: .75rem;
  
  
  }
  