@font-face {
    font-family: 'RO Sans Regular';
    src: url('../assets/fonts/ROsanswebtextregular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'RO Sans Italic';
    src: url('../assets/fonts/ROsanswebtextitalic.ttf');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'RO Sans Bold';
    src: url('../assets/fonts/ROsanswebtextbold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RO Serif Regular';
    src: url('../assets/fonts/ROserifwebregular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RO Serif Italic';
    src: url('../assets/fonts/ROserifwebitalic.ttf');
    font-weight: normal;
    font-style: normal;
}
  