select {

    line-height: 2.4rem;
    padding: 0 .5rem 0 .75rem;
    height: 2.4rem;
    border: 1px solid rgb(230,230,230);
    border-radius: 5px;
    
    option {
        line-height: 2rem;
        padding: 0 1rem;
    }
}