table {

    background: white;
    width: calc(100% - 2rem);
    margin: 0 8rem 3rem 0;


}

table, th, td {
    border: 1px solid gray;
  }

 th,td {

    padding: .25rem .5rem;
}

th {
    font-family: 'RO Sans Bold';
    text-align: left;
}

tr td {

    text-align: right;

    &:first-child {
        text-align: left;
    }
}

.tooltip table {

    background: transparent;

}

