body, svg g {
    font-family: RO Sans Regular, Calibri,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  
  @mixin uppercase() {
  
    // font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .85rem;
    line-height: 1.6;
    letter-spacing: .5px;
  }
  
  @mixin uppercase-small() {
  
    // font-family: Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .75rem;
    line-height: 2;
    letter-spacing: 0px;
  }

  h2 {
    font-family: RO Sans Bold, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 2.25rem;
    line-height: 1.2;
    // margin-bottom: 1rem;

    @media (min-width: $breakpoint-sm) {

    //  font-size: 1.375rem;

    }

  }
  
  
  h3 {
    font-family: RO Sans Bold, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-sm) {

     font-size: 1.375rem;

    }

  }

  h4 {
    font-family: RO Sans Bold, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
    // margin-bottom: 1rem;
  }

  .company_info span {
    line-height: 1.3;
  }

  .barLabel {
    
    font-size: .66rem;

    @media (min-width: $breakpoint-sm) {

      font-size: .85rem;
 
     }
  }

  .sector_info h4 {
    font-family: RO Sans Regular, Calibri,sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
  }
  

  .tooltip * {
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid $orange;

    &:hover {
      color: $orange;
    }
  }

  .article_header {

    ul {
      list-style: disc;
      padding-left: 1rem;
    }
  }
  
  
  