header {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > div:first-child {

        height: calc(200px - 3rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > img {
            // align-self: center;
        }
    }

    > div:last-child {
        background: $orange;
        width: 100%
    }


    ul#nav {
        
        height: 3rem;
        width: calc(100% - 1rem);
        padding: 0 .5rem;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li#mobile-menu-item-close {
            display: none;
        }

        li#mobile-menu-item-open, li#mobile-menu-item-close {
            margin-right: auto;
            margin-top: .5rem;
            margin-left: .75rem;

            @media(min-width: $breakpoint-lg) {
                display: none;
            }
        }

        li {
            color: white;
        }
    }


}

ul#language-selector {


    display: flex;
    flex-direction: row;

    li {

        margin: 0;
        padding: 0;

        &::after {
            content: "|";
            padding: 0 .5rem;
        }

        &:last-child::after {
            content: none;
        }


        &.active {
            font-weight: 700;
        }
    }
    
}