.functionality_list {
    position: relative;
    
    width: calc(100% - 0px);
    margin-bottom: 3rem;
    
    ul {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // border: 1px solid rgb(230, 230, 230);
        width: auto;

        @media(min-width: $breakpoint-md) {

            flex-direction: row;
        }


        li {
            line-height: 2rem;
            margin: .5rem 0;
            padding: 0 .5rem;
            // border-right: 1px solid rgb(230, 230, 230);

            &:first-child {
                margin-left: 0;
                // border-left: 1px solid rgb(230, 230, 230);
            }

            @media(min-width: $breakpoint-md) {

                margin: 0 .5rem;
            }
        }
    }
}