header {
    position: relative;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .skip {
        position: absolute;
        width: 0;
        overflow: hidden;
    }

    > div:first-child {

        height: calc(200px - 3rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > a > img {
          
            margin-top: 0.75rem;
            margin-bottom: -0.75rem;

            @media (min-width: $breakpoint-sm) {
                margin-left: -0.25rem;
            }
            @media (min-width: $breakpoint-md) {
                margin-left: 0rem;
            }

            @media (min-width: $breakpoint-lg) {
                margin-left: -0.25rem;
            }
        }
    }

    > div:last-child {
        background: $orange;
        width: 100%
    }


    ul#nav {
        
        height: 3rem;
        width: calc(100% - 1rem);
        padding: 0 .5rem;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
 

        button {
            background: transparent;
            border: none;
        }

        li#mobile-menu-item-close {
            display: none;
        }

        li#mobile-menu-item-open, li#mobile-menu-item-close {
            margin-right: auto;
            margin-top: .875rem;
            margin-left: .75rem;

            @media(min-width: $breakpoint-lg) {
                display: none;
            }
        }

        li {
            color: black;
        }
    }


}

#menu-home-link {
    margin-right: auto;
    color: black;

    margin-left: 0.75rem;

    @media (max-width: $breakpoint-bax) {
        display: none;
    }

    a {
        color: black;
        border-bottom: 1px solid black;
        margin-right: 0.25rem;

        &:hover {
            color: $darkblue;
            border-color: $darkblue;
        }
    }

    span {
        display:inline-block;
        margin-left: 0.25rem;
    }
}

ul#language-selector {

    display: flex;
    flex-direction: row;
    margin-right: 1rem;

    li {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;

        &::after {
            content: "|";
            padding: 0 .5rem;
        }

        &:last-child::after {
            content: none;
        }

        button {

            color: black;
            // border-bottom: 1px solid black;
            border-radius: 0;
            line-height: 1;
            margin: 0 1rem;
            padding: 0;
            height: 1.33rem;

            &.active {
                // font-weight: 700;
                border-bottom: 1px solid black;
            }
        }
    }
}