.tooltip {

  display: block;
  opacity: 0;
  position: absolute;
  z-index: 10;
  width: auto;
  height: auto;
  max-width: 480px;
  padding: 1rem;
  background: black;
  font-family: RO Sans Regular;
  color: white;
  pointer-events: none;
  font-size: 1rem;
}



#img-dashboard_popup {
  
    background: white;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border: 1px solid black;
    display: none;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
  
    top: 2.5rem;
    left: 2.5rem;
    width: calc(100vw - 5rem);
    height: calc(100vh - 5rem);
  
    line-height : 1.425;
  
    a {
      color: black;
      text-decoration: none;
    }
  
    .popup_description span {
      background: rgba(246,212,178,1);
      padding: 0 3px;
    }
  
    @media (min-width : $breakpoint-sm) {
  
      position: absolute;
      width: 400px;
      height: auto;
      max-width: 100%;
    }
  }